<script type="text/javascript">
  window.halal_truck_pic = "<%= asset_path('halal_truck_pic.png') %>"
  window.halalhubLogo = "<%= asset_path('halalhub-logo.png') %>"
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>
<main id="root"></main>
