/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 120px;
  height: auto;
}

body {
  background: #CE1F20;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

main {
  background: white;
  border-radius: 15px;
  padding: 15px;
  width: calc(93vw);
}
