.navbar {
  display: flex;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
  border-radius: 10px;
  align-items: center;
  padding: 0px 10px;
  margin: 5px;
  justify-content: space-between;
  width: calc(90vw);
}

.navbar img {
  padding: 0px -60px;
  height: 50px;
  padding: 0px;
  margin: 2px -22px -1px -25px;
}

.navbar-right {
  display: flex;
}
.navbar-left {
  align-items: center;
  display: flex;
}

.navimg {
  margin: 0px
}

.navbar h2 {
  margin: 10px 5px;
  padding: 5px;
}

.navbar-right > button {
  width: 75px;
  height: 20px;
  margin: 10px 5px;
}

.navbar-left input {
  padding: 1px;
  margin: 0px 10px;
  margin-right: 0px;
  height: 25px;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 5px;
}

.navbar-left button {
  margin-left: 0px;
  width: auto;
  height: auto;
  background-color: #999999;
  border-radius: none;
}
