// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.formbox form {
  font-size: 15px;
  padding: 15px;
  background-color: #CE1F20;
  border-radius: 10px;
  height: auto;
  color: white;
}

input {
  margin: 5px 0px;
  border: 1px solid white;
  background-color: white;
  color: black;
}

.formbox > * {
  margin: 5px;
}

.formbox > * > * {
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
}

.formbox > * > * > * {
  margin-top: 10px;
  font-size: 12px;
}

.errors {
  border: 1px solid white;
  margin: 5px 0px;
  padding: 10px 5px;
  font-weight: bold;
}

.formbox h3 {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  color: #A8191A;
  padding-bottom: 10px;
}

label {
  padding: 10px 0px;
}

.form-title {
  font-size: 12px;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.session-form {
  justify-content: center;
  display: flex;
}

.truckpic {
  align-items: center;
  background-color: transparent;
  max-width: 400px;
  max-height: 400px;
  margin-left: 50px;
}

.session-form form {
  background: #CE1F20;
}

.session-form nav {
  font-size: 12px;
  padding-top: 5px;
  border-top: 1px solid white;
}

.switch-btn {
  font-size: 15px;
}

button, input[type="submit"] {
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  margin: 5px 0px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #A8191A;
  width: 75px;
}

@media (max-width: 700px) {
  .truckpic {
    display: none;
  }
}
