.trucklist_item {
  margin: 5px;
  padding: 10px;
  width: 300px;
  background-color: #ce1f20;
  color: white;
  line-height: 1.3;
  border-bottom: 2px solid #ccc;
}

.trucklist_item:hover {
  background-color: #A8191A;
  cursor: pointer;
}

.trucklist_item:active {
  background-color: #660000;
}
