.trucklist {
  width: 100%;
  font-size: 14px;
}

.trucklist_item {
  margin: 5px;
  padding: 10px;
  color: white;
  line-height: 1.4;
  border-bottom: 2px solid #A8191A;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: image-url("bg-flower.svg");
}

.trucklist:last-child {
  border-top: 2px solid #A8191A;
}

.trucklist_item:hover {
  background-color: #A8191A;
  cursor: pointer;
}

.trucklist_item:active {
  background-color: #660000;
}

.trucklist_item_icon {
  margin-right: 10px;
  display: block;
  border: 2px solid black;
  height: 90px;
  width: 90px;
  // max-height: 90px;
  // max-width: 90px;
  // width: auto;
  // height: auto;
}

.num-reviews {
  text-decoration: underline;
}
